*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6f9;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-container{
    width:400px;
}

.logo{
    text-align:center;
    margin-bottom:20px;
}

.logo h1{
    color:#0d6efd;
}

.login-box{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.login-box h2{
    text-align:center;
    margin-bottom:20px;
}

label{
    display:block;
    margin-top:10px;
}

input,
select{
    width:100%;
    padding:10px;
    margin-top:5px;
}

button{
    width:100%;
    padding:10px;
    margin-top:20px;
    background:#0d6efd;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#084298;
}

#message{
    margin-top:15px;
    text-align:center;
}